.product-status-machine {
    height: 380px;
    overflow-y: scroll;
    padding-right: 15px;

    &::-webkit-scrollbar {
        width: 6px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #fff;
        border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #718096;
        border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

.latest-selling-transaction {
    height: 335px;
    overflow-y: scroll;
    padding-right: 15px;

    &::-webkit-scrollbar {
        width: 6px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #fff;
        border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #718096;
        border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

.status-machine {
    @extend .product-status-machine;
    height: 320px;
}

.error-message-block {
    max-height: 300px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 6px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #fff;
        border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #718096;
        border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

.product-name-label {
    .select2-container {
        width: 100%;
        display: block;
        height: 40px;

        .select2-selection--single {
            border: 1px solid #ccc;
            height: 40px;
            &:focus {
                outline: none;
            }
            .select2-selection__rendered {
                line-height: 40px;

            }

            .select2-selection__clear {
                display: none;
            }

            .select2-selection__arrow {
                height: 40px;
            }
        }
    }
}

.select2-dropdown--below {
    .select2-search--dropdown {
        .select2-search__field {
            &:focus {
                outline: 1px solid #4e73df;
            }
        }
    }
}
